<ion-content class="ion-padding">
  <div class="login-container">
    <img src="/src/assets/dj_hoxuel_logo1.jpg"/> <!-- Cambia la ruta a tu logo -->
    
    
    
    <div class="button-container">
      <ion-button expand="full" color="primary" (click)="navigateToHoroscopes()">
        Chino
      </ion-button>
      <ion-button expand="full" color="secondary" (click)="navigateToZodiacales()">
        Zodiacales
      </ion-button>
    </div>

    <h2 class="title">AstroVibes</h2>
  </div>
</ion-content>
