<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Grid básico -->

  <!-- Segunda fila -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Rata</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Ingenioso y versátil. Ambicioso y trabajador.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Buey</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Fuerte y confiable. Paciente y determinado.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Tigre</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Valiente y apasionado. Aventurero y confiado.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Conejo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Gentil y compasivo. Diplomático y sensible.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Dragón</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Poderoso y seguro de sí mismo. Enérgico y entusiasta.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Serpiente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Sabio y enigmático. Intuitivo y elegante.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Caballo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Energético y optimista. Amante de la libertad.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Cabra</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artístico y amable. Generoso y compasivo.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mono</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Ingenioso y divertido. Adaptable y curioso.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Gallo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Trabajador y observador. Honesto y directo.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Perro</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Leal y honesto. Sincero y protector.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Cerdo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Generoso y amable. Amante del placer y la buena vida.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>