<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Zodiacales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Grid básico -->

  <!-- Segunda fila -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Aries</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Energía y valentía. Aventurero y seguro de sí mismo.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Tauro</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Persistente y amante de la comodidad. Fiel y práctico.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Géminis</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Comunicativo y adaptable. Curioso y siempre en busca de conocimiento.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Cáncer</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Protector y emocional. Leal y orientado a la familia.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Leo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Creativo y apasionado. Líder natural, siempre busca destacar.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Virgo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Meticuloso y práctico. Perfeccionista y orientado al detalle.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Libra</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Diplomático y equilibrado. Busca la armonía y la justicia.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Escorpio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Intenso y apasionado. Emocionalmente profundo y determinado.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sagitario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Optimista y aventurero. Ama la libertad y explorar el mundo.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Capricornio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Responsable y disciplinado. Ambicioso y trabajador.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Acuario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Innovador y humanitario. Original y amante de la libertad.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4" size-lg="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Piscis</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Compasivo y artístico. Sensible y conectado con sus emociones.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>